<% arts = get_gallery_arts(@gallery_to_show) %>
<% art_packs = [arts[8..15], arts[0..7]] %>
<% pack_count = art_packs.count %>

<div id="mainArtContainer" class="vcentered">
  <%= image_tag art_packs[0][0][:medium], :id => "mainArt" %>
</div>

<div class="vcentered">

  <div class="gallery-grid">
  
    <div class="desc" style="vertical-align: top;">
      <p><%= @gallery_to_show.text %></p>
    </div>

    <div id="thumb-row">
      <div>
        <% art_packs.each_with_index do |pack_of_arts, i| %>
          <% next if pack_of_arts.nil? || pack_of_arts.empty? %>
            <div class="thumb-pack">
              <% pack_of_arts.each_with_index do |art, j| %>
                <div>
                  <% image_index = (pack_count - i - 1) * 8 + j %>
                  <% image_class = "thumb-#{image_index} #{i + j == 0 ? 'colored' : 'gray'}" %>
                  <% image_onclick = "grayImages(\"#{image_path art[:small]}\", \"#{image_path art[:medium]}\", #{@gallery_to_show.id}, #{image_index})" %>

                  <%= image_tag art[:small], :class => image_class, :onclick => image_onclick %>
                </div>
              <% end %>
            </div>
            <br>
        <% end %>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  var imagesToPreload = <%= preloaded_images @gallery_to_show, :medium %>
  if (imagesToPreload.length != 0)
    preloadImages(<%= @gallery_to_show.id %>, imagesToPreload)
</script>