<div class="vcentered covers">
  <div>
    <div id="left_slide" style="display: none;">
      <div></div>
    </div>
    <div id="right_slide" style="display: none;">
      <div></div>
    </div>
    <div id="image_outer">
      <div id="image_slides">
        <% @img_slides.each_with_index do |slide, i| %>
          <% href = slide.href || galleries_path %>
          <div id="<%= slide.name %>" style="left: <%= i * 849 %>px; top: <%= -i * 390 %>px;" class="cover">
            <%= link_to href do %>
              <%= image_tag slide.source.url, :alt => slide.alt, :title => slide.alt %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

// fadeElem( $('.cover'), 0 );

</script>