<div id="logo">
  <% logo = image_tag("logo.png", :alt => "THEoREticAL pART") %>
  <%= link_to logo, root_path %>
</div>
  <header>
      <nav>
          <ul>
            <li><%= link_to "главная", root_path, :class => 'link' %></li>
            <li><%= link_to "портфолио", portfolio_path, :class => 'link' %></li>
            <li><%= link_to "продукция", '#', :class => 'disabled-link' %><sup>+</sup></li>
            <li><%= link_to "контакты", contacts_path, :class => 'link' %></li>
        </ul>
      </nav>
  </header>

<hr>