<!DOCTYPE html>
<html>
<head>
  <title>Tauro</title>
  <!--[if lt IE 9]>	
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= csrf_meta_tags %>
</head>
<body>


	<div class="container">
    <%= render 'layouts/header' %>

    <div class="content">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
	</div>



</body>
</html>
